html{
	background-color: #ACCA58;
}

body{
	margin: auto;
	width: auto;
	font-size: 90%;
	text-align: justify;
	font-family: Calibri;
}

/* Todas as paginas : Geral */

header{
	background-color: white;
}

/* Menu lateral */

.menu-vertical {
  width: 250px; 
  list-style: none; /* apagar os estilos predefinidos das listas */
  padding: 4px; /* personalizar a volta dos links */
  margin: 0; /* margens */
  background: #CECECE;
}
 
/* estilo dos links e elementos da lista */
.mv-item, .mv-item a {
  display: block;
}
 
/* estilo dos links */
.mv-item a {
  margin: 2px 0; /* espaço entre os links */
  padding: 3px 15px; /* margens internas */ 
  color: #666;
  background: #FFF;
  text-decoration: none; /* on vire le soulignement */

  /* on définit la transition pour les navigateurs */
  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */
  transition: all .3s; /* syntaxe officielle */
}
 
/* styles changeants au survol et focus */
.mv-item a:hover, .mv-item a:focus {
  background: #ACCA58;
  color: #FFF;
  padding-left: 30px;
}

aside{
	float: left;
}

article{
	float: both;
	margin-left: 270px;
	margin-right: 20px;
	font-size: 110%;
}

footer{
	clear: both;
	text-align: center;
	background-color: white;
	padding: 5px;
}

.aveiro {
	width: 50%;
}

.tabela8{
	width: 70%;
}

.tabela9{
	width: 70%;
}

.tabela10{
	width: 70%;
}

.figura19{
	width: 30%;
}

.figura20{
	width: 30%;
}
.figura21{
	width: 30%;
}
.figura22{
	width: 30%;
}
.figura23{
	width: 30%;
}
.figura24{
	width: 30%;
}
.figura25{
	width: 30%;
}
.figura26{
	width: 30%;
}
.figura27{
	width: 30%;
}
.figura28{
	width: 40%;
}
.figura29{
	width: 30%;
}
.figura30{
	width: 30%;
}
.figura31{
	width: 30%;
}
.figura32{
	width: 30%;
}